//styline for main nav list
@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.main-nav {
  width: 100%;
  background-color: $dark-grey;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: height 0.5s ease-in-out, visibility 0s 0.5s;
  font-family:$heading-font;
  .show & {
      transition: height 0.5s ease-in-out, visibility 0s;
      visibility: visible;
      height: 210px;
      
  }

  ul {
      @include flatten($is-list: true);
  }
  &:last-child {
    border-bottom: 1px solid rgb(204, 200, 200);
}
  a {
    color: $light;
    text-decoration: none;
    display: block;
    line-height: 70px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid white;
   
    &:hover,
    &:focus,
    &:active {
        background-color: rgba(white, 0.4);
        }
  }

  @media (min-width: $breakpoint-mobile){
      width: auto;
      height: auto;
      visibility: visible;
      transition: none;
      background-color: inherit;
      margin-right: em(20);
      &:last-child {
        border-bottom: none;
    }
      .show & {
          transition: none;
          height: auto;
      }
      
      ul {
          display: flex;
      }

      li {
          flex: 1;
          margin: 0 em(10);
      }

      a {
        padding: 0;
        text-align: center;
        border-top:  none;
        border: none;
        position: relative;
        color: dark;
        line-height: 70px;
        &:hover,
        &:focus,
        &:active {
            background-color: $dark-grey;
        }

      }
      a.active {
          color: $site-orange;
        }
      a::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 10px;
          width: 0;
          height: 4px;
          background-color: $site-orange;
          transition: width 0.35s ease-in-out;
        }
  
        a:hover::before {
          width: 100%;
        }

  }

}