@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.favourites-section{
    margin: 0 auto;
    color: white;
}
.fav-children{
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 999;
}
.fav-title{
    text-align: center;
}