@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

body {
  font-family: $site-font;
  background-color: $black;
  line-height: $site-line-height;

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1980px;
    min-width: 320px;
  }

  a {
    text-decoration: none;
    color: $light;
  }

  a:visited,
  a:focus {
    text-decoration: none;
  }

  p {
    font-size: $standard-font-size;
  }

  main {
    max-width: $main-max-width;
    @include margin-center;
    flex: 1 1 auto;
    background-color: $black;
    display: flex;
    padding: em(30);

    width: 100%;
  }

  .home-main-section {
    width: 100%;
  }

  .home-main-section > section {
    padding: 0 $medium-spacing;
  }

}



