@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

//css variables for color theme toggle within main tag 
:root {
  --text-color-dark: #{$light};
  --bg-color-dark: #{$light-grey};
  --text-color-light: #{$dark-grey};
  --bg-color-light: #{$light-bg};
  --sec-text-color-light: #{$light-grey};
}

body {
  font-family: $site-font;
  background-color: $black;
  line-height: $site-line-height;

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1980px;
    min-width: 320px;
  }

  a {
    text-decoration: none;
    color: $light;
  }

  a:visited,
  a:focus {
    text-decoration: none;
  }

  p {
    font-size: $standard-font-size;
  }

  main {
    max-width: $main-max-width;
    @include margin-center;
    flex: 1 1 auto;
    background-color: $black;
    display: flex;
    padding: em(20);

    width: 100%;
  }

  .home-main-section {
    //padding: 0 $medium-spacing;
    width: 100%;
  }

  .home-main-section > section {
    padding: 0 $medium-spacing;
  }

}

  h2 {
    color: var(--text-color-dark);
  }

  .about-page-link {
    color: var(--text-color-light);
  }

