@charset "utf-8";

/* Resets */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Img Reset */
img {
  max-width: 100%;
  height: auto;
}

/* Google Fonts 

font-family: 'Fira Mono', monospace;
font-family: 'Ubuntu', sans-serif;

*/

/* Body */
body {
  margin: 0;
  
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
}

/* Type Styles */
h1,
h2,
nav a {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  margin-left: 10px;
}

p {
    line-height: 1.2em;
    font-size: 1.2em;
    margin-top: 2px;
    margin-bottom: 2px;
}
section{
    padding:10px 20px;
    min-height: 700px;
    margin: 0 auto;
    /* width:90%; */
}
h2{
    margin:0;
    font-weight: 600;
    margin-bottom: 10px;
}

.wrapper {
  background-color: rgb(248, 242, 242);
    max-width: 1980px;
    min-width: 320px;
    margin: 0 auto;
  }
  b{
    font-weight: 400;
    color: rgb(40, 57, 206);
  }

  /* Header */
header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .top-bar {
    background-color: rgb(92, 92, 141);
    display: grid;
    padding: 2px;
    align-items: center;
    grid-template-columns: 3fr 60px;
    grid-template-rows: 60px auto;
    grid-template-areas:
      "logo menu"
      "nav nav";
  }
  .top-bar h1 {
    margin-right: 20px;
    grid-area: logo;
    font-weight: bold;
  }
  .btn-menu {
    grid-area: menu;
    text-align: center;
    margin-right: 15px;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 64px;
  }

  
  nav {
    grid-area: nav;
    display: none;
    font-weight: bold;
    color: white;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav a{
    display: block;
    line-height: 60px;
    font-size: 1.2em;
    padding-left: 15px;
    margin: 0 10px;

  }

  /* Hamburger Styles */
  /* .btn-menu {
    
    text-align: center;
   
    font-weight: bold;
    font-size: 1.3em;
    line-height: 64px;
  } */
.btn-menu {
  grid-area: menu;
  margin-right: 15px;
  display: block;
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-menu .button-content {
  display: block;
  height: 24px;
  cursor: pointer;
}

.btn-menu .text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.btn-menu .bar {
  display: block;
  height: 4px;
  background-color: white;
  width: 100%;
  position: relative;
  top: 10px;
  transition: all 0.3s ease-in-out;
}

.btn-menu .bar:before {
  content: "";
  width: 100%;
  height: 4px;
  top: 10px;
  left: 0;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.btn-menu .bar:after {
  content: "";
  width: 100%;
  height: 4px;
  top: -10px;
  left: 0;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.btn-menu:focus {
  outline: none;
}

.btn-menu:focus .button-content {
  outline: 5px solid #7683C9;
}

.show .btn-menu .bar {
  background-color: transparent;	
}

.show .btn-menu .bar:before {
  top: 0;
  transform: rotate(45deg);	
}

.show .btn-menu .bar:after {
  top: 0;
  transform: rotate(-45deg);	
}
/* https://codepen.io/maheshambure21/pen/QwXaRw*/
nav.main-nav ul li a,
nav.main-nav ul li a:after,
nav.main-nav ul li a:before {
    transition: all .5s;
  }

nav.main-nav ul li a:hover
{
  color: rgb(226, 122, 122);
}
nav.main-nav ul li a {
  position: relative;
}
nav.main-nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(173, 154, 154);
  height: 1px;
}
nav.main-nav ul li a:hover:after {
  width: 100%;
}


/* SearchBar */
.bar-container{   
   margin-top: 10px;
   margin: 0 auto;
}
.searchButton {
  margin-left: 10px;
  border: 1px solid #b586db;
  background: #806c91;
  padding-top: 4px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
}

.select-container {
  width: 280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.select-input {
  margin-left: 15px; 
  flex:1; 
  border: 3px solid #7f6991;
  padding: 5px;
  border-radius: 8px;
  outline: none;
  background-color: rgb(248, 242, 242);
}
/* Movies*/
.movies-container{
  margin-top: 10px;   
}
.movie-card{
   background-color: rgba(black, 0.3);
   border: 3px solid rgb(173, 154, 154);
   padding: 20px 30px;
   margin: 0 auto;
   margin-bottom: 16px;
   border-radius: 8px;
   
}
.movie-card img{ 
   border-radius: 4px;
   display: block;
   margin: 0 auto;
   width: 100%;
  height: auto;
  margin-bottom: 4px;
}
.movies-container .movie-info{
   display: block;
   flex:1;
   margin-bottom: 5px;
   
}
.movie-title{
  font-weight:bold;
}
.more-info{
  font-size: 1.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.movies-container .movie-overview{
   line-height:1.2em;
   height:2.4em;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
 .movie-card{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "poster info";
  gap:30px;
}
 .movie-poster{
  grid-area: poster;   
}
 .movie-info{
  grid-area: info;
  
}

/* IndividualMovie*/
.movie-section{
    padding: 20px;
    max-width: 500px;
    margin:0 auto;  
}

.movie-section h2{
    margin-bottom: 20px;
}
.top-container{
    display: flex;
    justify-content: space-between;
}
.fav-button {
    position: relative;
    width: 50px;
    height: 40px;
    background-color:  rgb(248, 242, 242);
    border: none;
  }
.fav-button img{
    width:90%;
    height: auto;
    object-fit: cover;
}
.movie-section .movie-card{
  margin-bottom: 10px;
} 


/* Footer */
footer {
    background-color: rgb(92, 92, 141);
    color: white;
    padding: 20px;
    text-align: center;
  }
  footer a {
    color: white;
  }

/* Fav Page*/
.fav-children{
    display: flex;
    align-items: center;
}

/* AboutPage*/
h3{
  color: rgb(16, 82, 82);
  font-size: 1.6em;
}
article{
    max-width:420px;
    margin: 0 auto;
    text-align: center;
}
article p{
  line-height: 1.4em;
    font-size: 1.4em;
    margin-top: 4px;
    margin-bottom: 4px;
}
.logo-container{    
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: 30px;
}

@media (min-width: 680px){
  section{
    padding: 30px;
}
  p {
    line-height: 1.1em;
    font-size: 1.1em;
    margin-top: 2px;
    margin-bottom: 2px;
}
/* Nav Bar*/
    .btn-menu {
        display: none;
        }
    .top-bar {
        grid-template-columns: 1fr 390px;
        grid-template-areas: "logo nav";
    }
    nav {
        display: block;
    }
    nav ul {
        display: flex;
    }
    nav li {
        flex: 1;
    }
    nav a {
        padding: 0;
        text-align: center;
    }

    .movies-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap:30px;
        row-gap: 10px;       
    }

    .select-container{
      width: 320px;
    }

    /* IndividualMovie*/
    .movie-section{
      max-width: 600px;
  }
  .movie-section .movie-card{
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1.2fr;
      grid-template-areas: "poster info";
      gap:30px;
  }
  .movie-section .movie-poster{
      grid-area: poster;   
  }
  .movie-section .movie-info{
      grid-area: info;
      
  }
}

@media (min-width: 1000px) {
    /* Movies*/
    .movies-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:20px;

    }
    .movie-card{
        /* width: 85%; */
        margin:0 auto;
    }

    .bar-container{
        display: flex;
        justify-content:space-evenly;
    }
    .select-container{
      width: 380px;
    }
    .searchButton {
      margin-left: 15px;
      font-size: 20px;
    }
 /* IndividualMovie*/
 .movie-section{
  max-width: 900px;
}
.movie-section p{
    line-height: 1.3em;
    font-size: 1.3em;
    margin-top: 5px;
    margin-bottom: 5px;
}  
.movie-section link{
  margin-top: 10px;
}  

}

