@charset "utf-8";

/* Resets */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Img Reset */
img {
  max-width: 100%;
  height: auto;
}

/* Google Fonts 

font-family: 'Fira Mono', monospace;
font-family: 'Ubuntu', sans-serif;

*/

/* Body */
body {
  margin: 0;
  background-color: silver;
  font-family: "Ubuntu", sans-serif;
}

/* Type Styles */
h1,
h2,
nav a {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  margin-left: 10px;
}
p {
    line-height: 1.4em;
    font-size: 1.4em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wrapper {
    background-color: #fff;
    max-width: 1980px;
    margin: 0 auto;
  }

  /* Header */
header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .top-bar {
    background-color: rgb(92, 92, 141);
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 60px auto;
    grid-template-areas:
      "logo menu"
      "nav nav";
  }
  .top-bar h1 {
    margin-right: 20px;
    grid-area: logo;
    font-weight: bold;
  }
  .btn-menu {
    grid-area: menu;
    text-align: right;
    margin-right: 15px;
    font-weight: bold;
    font-size: 1.3em;
  }
  nav {
    grid-area: nav;
    display: none;
    font-weight: bold;
    color: white;
  }
  .show nav {
    display: block;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav a{
    display: block;
    line-height: 50px;
    font-size: 1.2em;
    padding-left: 15px;
    
  }
  nav a:hover,
  nav a:focus,
  nav a:active {
    background-color: rgba(rgb(158, 68, 68), 0.3);
}
/* Movies*/
.movies-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    


}
.movie-card{
    background-color: rgba(black, 0.3);
    border: 3px solid rgb(173, 154, 154);
    padding: 20px;
    margin-bottom: 16px;
    border-radius: 8px;
    
}
.movie-card img{ 
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    width: 100%;

}
.movies-container .movie-info{
    margin-bottom: 16px;
    justify-content:stretch;
    height:14em ;
}
.movies-container .movie-overview{
    line-height:1.4em;
    height:4.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* SearchBar */
.bar-container{   
    padding: 20px;
    padding-bottom: 10px;
}
.search {
    width: 400px;
    /* margin: 0 auto; */
    /* position: relative; */
    margin-bottom: 10px;
    display: flex;
  }
  .searchButton {
    margin-left: 15px;
    border: 1px solid #1C76D2;
    background: #1C76D2;
    padding-top: 4px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
  }
  .searchInput {
    width: 85%;
    border: 3px solid #1C76D2;
    padding: 5px;
    border-radius: 5px;
    outline: none;
  }

  .select-container {
    width: 400px;
    /* margin: 0 auto; */
    /* position: relative; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .select-input {
    margin-left: 15px;  
    width: 70%;
    border: 3px solid #1C76D2;
    padding: 5px;
    border-radius: 5px;
    outline: none;
  }

/* Movie*/
.movie-section{
    padding: 20px;
    max-width: 800px;
    margin:0 auto;
}

.top-container{
    display: flex;
    justify-content: space-between;
}
.fav-button {
    position: relative;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    background-color: white;
    border: none;
  }
  


/* Footer */
footer {
    background-color: #b3701e;
    color: white;
    padding: 15px;
    text-align: center;
  }
  footer a {
    color: white;
  }


@media (min-width: 900px) {
    .btn-menu {
    display: none;
    }
    .top-bar {
    grid-template-columns: 1fr 390px;
    grid-template-areas: "logo nav";
    }
    nav {
    display: block;
    }
    nav ul {
    display: flex;
    }
    nav li {
    flex: 1;
    }
    nav a {
    padding: 0;
    text-align: center;
    }
   
/* Movies*/
.movies-container{
    grid-template-columns: repeat(3, 1fr);

}
.movie-card{
    width: 100%;
}

.bar-container{
    display: flex;
    justify-content:space-between;
}

}